.contentHome{ 
    position: relative; /* Necessário para posicionar o fundo */
    display: flex;
    justify-content:end;
    gap: 500px;
    align-items: center; /* Alinha o texto verticalmente */
    width: 100%;
    height: 500px;
    font-family: "Playwrite GB S", cursive;
    background-image: url(/img/doces-embrulhados.png);
    background-size: 23px;
}
.contentHome img{
    height: 500px;
    width: 300px;
}
/* home */

/* footer */
.footer{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    display: flex;
    justify-content:center;
    flex-direction: column;
    align-items: center;
    padding-top: 0px;
    background-color: rgb(69, 186, 186);
    height:127px;
}